<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link active" href="#">Home
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
					<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
						<div class="container-fluid">
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>

							<div class="collapse navbar-collapse" id="navbarColor01">
								<ul class="navbar-nav me-auto">
									<li class="nav-item">
										<a class="nav-link active" href="#">Accueil
											<span class="visually-hidden">(current)</span>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Recettes de la communauté
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Contact
										</a>
									</li>
									{% if app.user %}
										<li class="nav-item">
											<a class="nav-link" href="#>Mes ingrédients
																																															</a>
																																														</li>
																																														<li class=" nav-item">
												<a class="nav-link" href="#">Mes recettes
												</a>
											</li>
										{% endif %}
									</ul>
									<div class="d-flex">
										<ul class="navbar-nav me-auto">
											{% if app.user %}
												<li class="nav-item dropdown" style="margin-right: 5rem;">
													<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.fullName }}</a>
													<div class="dropdown-menu">
														<a class="dropdown-item" href="#">Modifier mes informations</a>
														<a class="dropdown-item" href="#">Modifier mon mot de passe</a>
														<div class="dropdown-divider"></div>
														{% if 'ROLE_ADMIN' in app.user.roles %}
															<a class="dropdown-item" href="#">Administration</a>
															<div class="dropdown-divider"></div>
														{% endif %}
														<a class="dropdown-item" href="#">Déconnexion</a>
													</div>
												</li>
											{% else %}
												<li class="nav-item">
													<a class="nav-link" href="#">Connexion
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="#">Inscription
													</a>
												</li>
											{% endif %}
										</ul>
									</div>
								</div>
							</div>
						</nav>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</li>
				</li>
			</ul>
			<form class="d-flex">
				<input class="form-control me-sm-2" type="search" placeholder="Search">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
