{% extends "base.html.twig" %}

{% block title %}SymRecipe - Accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenu sur Symrecipe</h1>
			<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
			<hr class="my-4">
			<p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application</p>
			<a class="btn btn-primary btn-lg" href="#" role="button">inscription</a>
		</div>
	</div>
{% endblock %}
